<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Mi guia...</title>
        <meta name="description" content="Simple Multi-Item Slider: Category slider with CSS animations" />
        <meta name="keywords" content="jquery plugin, item slider, categories, apple slider, css animation" />
        <meta name="author" content="Codrops" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <!--Bootstrap-->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet"/>
        <!--Fonts-->

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Medio</a></li>
                    <li><a href="#">Final</a></li>
                </ul>
            </nav>
        </header>

        <div id="bodyContainer">
            @RenderSection("featured", false)
            <section style="margin-top: 20px;">
                @RenderBody()
            </section>
        </div>
        <footer id="footer" role="contentinfo">
                <div id="topfooter" class="row-fluid">
                    <div class="span5 offset1">
                        <h4 class="yellow">Acerca de nosotros</h4>
                        <p>
                            "Somos una empresa de publicidad y servicios, cuyo objetivo es brindarle a nuestros clientes un foro publicitario con las ultimas tecnologías a su alcance y con un costo realmente accesible"
                        </p>
                    </div>
                    <div class="span2">
                        <h5 class="yellow">Estamos en las redes sociales</h5>
                    </div>
                    <div class="span3">
                        <h5 class="yellow">Estamos a tus órdenes</h5>
                        <ul>
                            <li>Dirección: Avenida Camelinas 3216, 5 de Diciembre, Morelia Mich.</li>
                            <li>"Telefono: "
                                <span>4432725600</span>
                                <br/>"E-mail: "
                                <a href="mailito:">contacto@miguia.mx</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bottomfooter" class="row-fluid">
                    <div class="span5 offset1">
                        <p class="pull-left">
                            &copy; @DateTime.Now.Year - SysCor Systems | <a target="_blank" href="mailto:info@syscor.com?Subject=SysControl v1 Info Request">info@syscor.com</a> | 4431 725600 &nbsp;&nbsp;&nbsp;&nbsp; 
                        </p>
                    </div>
                    <div class="span5">
                        <div class="pull-right">
                            <ul id="social">
                                <li><a class="skype" href="#">Skype</a></li>
                                <li><a class="facebook" href="#">Facebook</a></li>
                                <li><a class="twitter" href="#">Twitter</a></li>
                                <li><a class="flickr" href="#">Flickr</a></li>
                                <li><a class="google" href="#">Google</a></li>
                            </ul>					
                        </div>
                    </div>  
                </div>
               

           
        </footer>
            <div class="clearfix"></div>
        		
        @RenderSection("scripts", false)

    </body>
</html>